<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0661</key>
    <string>uni0661.glif</string>
    <key>uni0662</key>
    <string>uni0662.glif</string>
    <key>uni0663</key>
    <string>uni0663.glif</string>
    <key>uni0664</key>
    <string>uni0664.glif</string>
    <key>uni0665</key>
    <string>uni0665.glif</string>
    <key>uni0666</key>
    <string>uni0666.glif</string>
    <key>uni0667</key>
    <string>uni0667.glif</string>
    <key>uni0668</key>
    <string>uni0668.glif</string>
    <key>uni0669</key>
    <string>uni0669.glif</string>
    <key>uni0627</key>
    <string>uni0627.glif</string>
    <key>uni0633</key>
    <string>uni0633.glif</string>
    <key>uni0634</key>
    <string>uni0634.glif</string>
    <key>uni0635</key>
    <string>uni0635.glif</string>
    <key>uni0636</key>
    <string>uni0636.glif</string>
    <key>uni062C</key>
    <string>uni062C_.glif</string>
    <key>uni062D</key>
    <string>uni062D_.glif</string>
    <key>uni062E</key>
    <string>uni062E_.glif</string>
    <key>uni0639</key>
    <string>uni0639.glif</string>
    <key>uni063A</key>
    <string>uni063A_.glif</string>
    <key>uniFEBB</key>
    <string>uniF_E_B_B_.glif</string>
    <key>uniFEBF</key>
    <string>uniF_E_B_F_.glif</string>
    <key>uniFEDB</key>
    <string>uniF_E_D_B_.glif</string>
    <key>uniFED6</key>
    <string>uniF_E_D_6.glif</string>
    <key>uniFE9F</key>
    <string>uniF_E_9F_.glif</string>
    <key>uniFEA3</key>
    <string>uniF_E_A_3.glif</string>
    <key>uniFEA7</key>
    <string>uniF_E_A_7.glif</string>
    <key>uni0628</key>
    <string>uni0628.glif</string>
    <key>uni062A</key>
    <string>uni062A_.glif</string>
    <key>uni062B</key>
    <string>uni062B_.glif</string>
    <key>uni0629</key>
    <string>uni0629.glif</string>
    <key>uni066E</key>
    <string>uni066E_.glif</string>
    <key>uniFEEB</key>
    <string>uniF_E_E_B_.glif</string>
    <key>uniFEEC</key>
    <string>uniF_E_E_C_.glif</string>
    <key>uniFED2</key>
    <string>uniF_E_D_2.glif</string>
    <key>uniFC37</key>
    <string>uniF_C_37.glif</string>
    <key>uni0643</key>
    <string>uni0643.glif</string>
    <key>uni0644</key>
    <string>uni0644.glif</string>
    <key>uni062F</key>
    <string>uni062F_.glif</string>
    <key>uni0649</key>
    <string>uni0649.glif</string>
    <key>uniFEF0</key>
    <string>uniF_E_F_0.glif</string>
    <key>uniFEE3</key>
    <string>uniF_E_E_3.glif</string>
    <key>uniFECB</key>
    <string>uniF_E_C_B_.glif</string>
    <key>uniFC8E</key>
    <string>uniF_C_8E_.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>uniFEFB</key>
    <string>uniF_E_F_B_.glif</string>
    <key>uni064D</key>
    <string>uni064D_.glif</string>
    <key>uni064F</key>
    <string>uni064F_.glif</string>
    <key>uni0652</key>
    <string>uni0652.glif</string>
    <key>uni06D2</key>
    <string>uni06D_2.glif</string>
    <key>uniFBAF</key>
    <string>uniF_B_A_F_.glif</string>
    <key>uni0646</key>
    <string>uni0646.glif</string>
    <key>uni0637</key>
    <string>uni0637.glif</string>
    <key>uniFEE6</key>
    <string>uniF_E_E_6.glif</string>
    <key>uniFE97</key>
    <string>uniF_E_97.glif</string>
    <key>uniFEB8</key>
    <string>uniF_E_B_8.glif</string>
    <key>uniFEDF</key>
    <string>uniF_E_D_F_.glif</string>
    <key>uniFEB3</key>
    <string>uniF_E_B_3.glif</string>
    <key>uniFE9B</key>
    <string>uniF_E_9B_.glif</string>
    <key>uniFE91</key>
    <string>uniF_E_91.glif</string>
    <key>uniFEE7</key>
    <string>uniF_E_E_7.glif</string>
    <key>uniFEF3</key>
    <string>uniF_E_F_3.glif</string>
    <key>uniFEEE</key>
    <string>uniF_E_E_E_.glif</string>
    <key>uniFEAE</key>
    <string>uniF_E_A_E_.glif</string>
    <key>uni0631</key>
    <string>uni0631.glif</string>
    <key>uni0648</key>
    <string>uni0648.glif</string>
    <key>uni0632</key>
    <string>uni0632.glif</string>
    <key>uni0638</key>
    <string>uni0638.glif</string>
    <key>uni0630</key>
    <string>uni0630.glif</string>
    <key>uni0622</key>
    <string>uni0622.glif</string>
    <key>uni0623</key>
    <string>uni0623.glif</string>
    <key>uni0625</key>
    <string>uni0625.glif</string>
    <key>uni0624</key>
    <string>uni0624.glif</string>
    <key>uni0626</key>
    <string>uni0626.glif</string>
    <key>uni0647</key>
    <string>uni0647.glif</string>
    <key>uni064A</key>
    <string>uni064A_.glif</string>
    <key>uni0641</key>
    <string>uni0641.glif</string>
    <key>uni0642</key>
    <string>uni0642.glif</string>
    <key>uni0645</key>
    <string>uni0645.glif</string>
    <key>uniFE8E</key>
    <string>uniF_E_8E_.glif</string>
    <key>uniFE92</key>
    <string>uniF_E_92.glif</string>
    <key>uniFE98</key>
    <string>uniF_E_98.glif</string>
    <key>uniFE9C</key>
    <string>uniF_E_9C_.glif</string>
    <key>uniFEA0</key>
    <string>uniF_E_A_0.glif</string>
    <key>uniFEA4</key>
    <string>uniF_E_A_4.glif</string>
    <key>uniFEA8</key>
    <string>uniF_E_A_8.glif</string>
    <key>uniFEB0</key>
    <string>uniF_E_B_0.glif</string>
    <key>uniFEB4</key>
    <string>uniF_E_B_4.glif</string>
    <key>uniFEB7</key>
    <string>uniF_E_B_7.glif</string>
    <key>uniFEBC</key>
    <string>uniF_E_B_C_.glif</string>
    <key>uniFEC0</key>
    <string>uniF_E_C_0.glif</string>
    <key>uniFEE4</key>
    <string>uniF_E_E_4.glif</string>
    <key>uniFEE8</key>
    <string>uniF_E_E_8.glif</string>
    <key>uniFEF2</key>
    <string>uniF_E_F_2.glif</string>
    <key>uniFEF9</key>
    <string>uniF_E_F_9.glif</string>
    <key>uniFEF7</key>
    <string>uniF_E_F_7.glif</string>
    <key>uniFEF5</key>
    <string>uniF_E_F_5.glif</string>
    <key>uniFEF4</key>
    <string>uniF_E_F_4.glif</string>
    <key>uniFEDC</key>
    <string>uniF_E_D_C_.glif</string>
    <key>uniFE8A</key>
    <string>uniF_E_8A_.glif</string>
    <key>uniFE86</key>
    <string>uniF_E_86.glif</string>
    <key>uniFE82</key>
    <string>uniF_E_82.glif</string>
    <key>uniFE84</key>
    <string>uniF_E_84.glif</string>
    <key>uniFE88</key>
    <string>uniF_E_88.glif</string>
    <key>uni064E</key>
    <string>uni064E_.glif</string>
    <key>uni0650</key>
    <string>uni0650.glif</string>
    <key>uni0651</key>
    <string>uni0651.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uniFEB2</key>
    <string>uniF_E_B_2.glif</string>
    <key>uniFEB6</key>
    <string>uniF_E_B_6.glif</string>
    <key>uniFEBA</key>
    <string>uniF_E_B_A_.glif</string>
    <key>uniFEBE</key>
    <string>uniF_E_B_E_.glif</string>
    <key>uniFEC2</key>
    <string>uniF_E_C_2.glif</string>
    <key>uniFEC6</key>
    <string>uniF_E_C_6.glif</string>
    <key>uniFECA</key>
    <string>uniF_E_C_A_.glif</string>
    <key>uniFECE</key>
    <string>uniF_E_C_E_.glif</string>
    <key>uniFEAA</key>
    <string>uniF_E_A_A_.glif</string>
    <key>uniFEAC</key>
    <string>uniF_E_A_C_.glif</string>
    <key>uniFE94</key>
    <string>uniF_E_94.glif</string>
    <key>uniFEEA</key>
    <string>uniF_E_E_A_.glif</string>
    <key>uniFEF6</key>
    <string>uniF_E_F_6.glif</string>
    <key>uniFEF8</key>
    <string>uniF_E_F_8.glif</string>
    <key>uniFEFA</key>
    <string>uniF_E_F_A_.glif</string>
    <key>uniFEE0</key>
    <string>uniF_E_E_0.glif</string>
    <key>uniFEFC</key>
    <string>uniF_E_F_C_.glif</string>
    <key>uniFEDE</key>
    <string>uniF_E_D_E_.glif</string>
    <key>uniFE90</key>
    <string>uniF_E_90.glif</string>
    <key>uniFE96</key>
    <string>uniF_E_96.glif</string>
    <key>uniFE9A</key>
    <string>uniF_E_9A_.glif</string>
    <key>uniFE9E</key>
    <string>uniF_E_9E_.glif</string>
    <key>uniFEA2</key>
    <string>uniF_E_A_2.glif</string>
    <key>uniFEA6</key>
    <string>uniF_E_A_6.glif</string>
    <key>uni066F</key>
    <string>uni066F_.glif</string>
    <key>uni06A1</key>
    <string>uni06A_1.glif</string>
    <key>uniFECF</key>
    <string>uniF_E_C_F_.glif</string>
    <key>uniFECC</key>
    <string>uniF_E_C_C_.glif</string>
    <key>uniFED0</key>
    <string>uniF_E_D_0.glif</string>
    <key>uniFEDA</key>
    <string>uniF_E_D_A_.glif</string>
    <key>smallhamza</key>
    <string>smallhamza.glif</string>
    <key>uni0621</key>
    <string>uni0621.glif</string>
    <key>uniFEC3</key>
    <string>uniF_E_C_3.glif</string>
    <key>uniFEC4</key>
    <string>uniF_E_C_4.glif</string>
    <key>uniFEC7</key>
    <string>uniF_E_C_7.glif</string>
    <key>uniFEC8</key>
    <string>uniF_E_C_8.glif</string>
    <key>initialbaa</key>
    <string>initialbaa.glif</string>
    <key>narrowinitialbaa</key>
    <string>narrowinitialbaa.glif</string>
    <key>uniFC8F</key>
    <string>uniF_C_8F_.glif</string>
    <key>uniFC74</key>
    <string>uniF_C_74.glif</string>
    <key>uniFC75</key>
    <string>uniF_C_75.glif</string>
    <key>uniFC68</key>
    <string>uniF_C_68.glif</string>
    <key>uniFC69</key>
    <string>uniF_C_69.glif</string>
    <key>uniFC95</key>
    <string>uniF_C_95.glif</string>
    <key>uniFC96</key>
    <string>uniF_C_96.glif</string>
    <key>uniFC7A</key>
    <string>uniF_C_7A_.glif</string>
    <key>uniFC7B</key>
    <string>uniF_C_7B_.glif</string>
    <key>uniFE8B</key>
    <string>uniF_E_8B_.glif</string>
    <key>uniFE8C</key>
    <string>uniF_E_8C_.glif</string>
    <key>yehwezza</key>
    <string>yehwezza.glif</string>
    <key>dot</key>
    <string>dot.glif</string>
    <key>twodots</key>
    <string>twodots.glif</string>
    <key>threedots</key>
    <string>threedots.glif</string>
    <key>uniFEE2</key>
    <string>uniF_E_E_2.glif</string>
    <key>uniFED3</key>
    <string>uniF_E_D_3.glif</string>
    <key>uniFED4</key>
    <string>uniF_E_D_4.glif</string>
    <key>initialdotlessfeh</key>
    <string>initialdotlessfeh.glif</string>
    <key>uniFED7</key>
    <string>uniF_E_D_7.glif</string>
    <key>uniFED8</key>
    <string>uniF_E_D_8.glif</string>
  </dict>
</plist>
